<strong>Hi, {{ provider }}</strong>
<p>There was an appointment cancelation, confirm the details bellow</p>
<p>
  <strong>Customer: </strong> {{ user }} <br />
  <strong>Date/time: </strong> {{ date }} <br />
  <br />
  <small>
    Your agenda has a free spot for new a new appointment.
  </small>
</p>
